openapi: 3.1.0
info:
  title: WD My Cloud Home Authentication User API
  description: The WD My Cloud Home REST API enables off-device applications to manage files and folders on a user's My Cloud Home NAS device. It supports file upload, download, listing, search, sharing, thumbnails, and device discovery via OAuth 2.0 authentication.
  version: v2
  termsOfService: https://www.westerndigital.com/legal/terms-of-use
  contact:
    name: Western Digital Developer Support
    url: https://developer.westerndigital.com/develop/wd-my-cloud-home/forms.html
  license:
    name: Western Digital Developer Terms
    url: https://developer.westerndigital.com/develop/wd-my-cloud-home/
servers:
- url: https://config.mycloud.com
  description: Configuration service — call first to get device and auth URLs
- url: https://device.mycloud.com
  description: Device service (dynamically resolved per device)
- url: https://wdc.auth0.com
  description: Authentication service
tags:
- name: User
  description: User account information.
paths:
  /userinfo:
    get:
      operationId: getUserInfo
      summary: Get User Information
      description: Returns profile information for the authenticated user.
      tags:
      - User
      servers:
      - url: https://wdc.auth0.com
      security:
      - bearerAuth: []
      responses:
        '200':
          description: User profile information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          description: Unauthorized.
  /authservice/v2/auth0/user:
    get:
      operationId: getAuthUser
      summary: Get Authenticated User
      description: Returns the authenticated user's account details from the auth service.
      tags:
      - User
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Authenticated user details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccount'
        '401':
          description: Unauthorized.
components:
  schemas:
    UserInfo:
      type: object
      properties:
        sub:
          type: string
          description: Subject identifier (user ID).
        email:
          type: string
          format: email
        name:
          type: string
        picture:
          type: string
          format: uri
    UserAccount:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        username:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token obtained via the /oauth/token endpoint. Include in Authorization header as "Bearer {token}".
